* {
  font-family: NotoMono Nerd Font;
  font-weight: bold;
  font-size: 17px;
  min-height: 25px;
}

window#waybar {
	background-color: @black;
	transition-property: background-color;
	transition-duration: .5s;
}

@define-color bg #272a34;
@define-color fg #f9f9f9;
@define-color black #23252e;
@define-color green #2BE491;
@define-color gr #363749;

#workspaces {
	background-color: @black;
}

#workspaces button {
	background-color: @black;
  color: @fg;	
  padding: 0 2px;
	margin: 2px 2px 0 2px;
	border-bottom: solid 2px #23252e;
	border-radius: 0;
}

#workspaces button.visible {
	background-color: @black;
	color: @green;
	/*padding: 0 4px;*/
	/*margin: 4px 0 4px 0;*/
	border-bottom: solid 2px;
	border-radius: 0;
}

#workspaces button.empty {
	background-color: @black;
	color: @gr;
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px #23252e;
	border-radius: 0;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray,
#window,
#workspaces

#clock {
	background: @black;
	color: @fg;
	margin-left: 15px;
	font-size: 15px;
  border-bottom: solid 2px @green;
  border-radius: 0;
}

#battery {
	color: @fg;
	margin-left: 15px;
  font-size: 15px;
  border-bottom: solid 2px @green;
  border-radius: 0;
}

#battery.charging {
  color: @green;
  margin-right: 5px;
  /*background-color: #26A65B;*/
}

#pulseaudio{
	background: @fd;
	color: @fd;
	margin: 0;
  font-size: 15px;
  border-bottom: solid 2px @green;
  border-radius: 0;
}

#tray {
	background: @black;
	color: @fg;
	/*padding: 0 15px 0 15px;*/
	/*margin: 4px 0 4px 0;*/
	border-radius: 0;
}

#language {
	background: @black;
	color: @green;
	margin-left: 15px;
	border-bottom: solid 2px @green;
	border-radius: 0;
}
